﻿body {
    	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

.smaller-text {
    font-size:1rem;
}

strong {
    font-weight: bold;

}
#left-nav {
    background-color:white;
    border-right:1px solid rgba(0,0,0,0.09804);
    min-height:300px;
    padding:0;
}

.commentNav {
    padding:8px;
}

.header-section {
    width:80%;
    margin:0 auto;
    text-align:center;
}
.trello-section {
    min-height:400px;   
}

.card-list {
    height:600px;
    overflow-y:scroll;
    padding:1px 3px;
    margin-top:0;
}

.c-content {
    /*padding:10px;*/
}
.card .card-action {
    padding:10px;
}
.c-title {
    font-size:16px;
    font-weight: bold;
}

.subheader {
    font-size:1.4rem;
}

span.infoBadge {
    min-width: 3rem;
    padding: 2px 8px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    /* position: absolute; */
    right: 15px;
    box-sizing: border-box;
    margin:0 2px
}

.hide {
    display:none;
}
.label-code {
    height: 100%;
    width:2px;
    margin:0;
    padding:0;
}
.task-label-color {
    width:100%;
    height:5px;
    margin: 0;
    padding:0;
}

.card-box {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 1px 2px 1px rgba(216,216,216,.9);
    padding:5px 10px;
    margin-bottom:10px;
}
.hover-card {
    cursor: pointer;
    transition: all .2s ease-in;
}
.hover-link {
    cursor:pointer;
    perspective: 120px;
}
.hover-link > a {
    overflow: hidden;
    display: block;
    transform-style: preserve-3d;
    transition: all .5s ease;

    /*-webkit-transition: all .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
    /*-moz-transition: all .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
    /*-ms-transition: all .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
    /*-o-transition: all .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
    /*transition: all .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);*/

    -webkit-transform:  rotateY(90deg) translateX(-30px);
    -moz-transform:  rotateY(90deg);
    -ms-transform:  rotateY(90deg) translateX(-30px);
    -o-transform:  rotateY(90deg) translateX(-30px);
    transform:  rotateY(90deg) translateX(-30px);

    color: white;
}
.cmt-button {
    min-width: 3rem;
    padding: 2px 8px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    /* position: absolute; */
    right: 15px;
    box-sizing: border-box;
    background-color:#37474f;
    transition: all .2s ease;

}
.cmt-button:hover {
    background-color:white;
}
.cmt-button > span {
    color:white;
    transition: all .2s ease;
}
.cmt-button:hover > span {
    color:#37474f;
}

.hover-card:hover > .hover-link > a {
    width:60px;
    display: block;
    cursor: pointer;
    -webkit-transform: translateX(0) rotateY(0deg);
    -moz-transform:  rotateY(0deg);
    -ms-transform:  rotateY(0deg);
    -o-transform:  rotateY(0deg);
    transform:  translateX(0) rotateY(0deg);
}
.hover-card:hover {
    color:white;
    background-color: rgba(0,131,143,.7);
}

/*.hover-card:hover {*/
    /*background-color:teal;*/
/*}*/

.cg-animate.ng-enter, .cg-animate.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
}
.cg-animate.ng-enter.ng-enter-active,
.cg-animate.ng-move.ng-move-active {
    opacity: 1;
}

.card.ng-enter, .repeated-item.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
}
.card.ng-enter.ng-enter-active,
.card.ng-move.ng-move-active {
    opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.cg-animate.ng-leave {
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}



.thin-padding {
    margin-top: 2px;
    margin-bottom:5px;
}
.add-padding {
    padding:8px;
}

.timer-big {
    font-size:1.8rem;
}
.timer-small {
    font-size:1.2rem;
}
form {
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

/* Button */
.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  cursor: pointer;
  /*transition: all 0.15s ease;*/
}
.button:focus { outline: 0; }

.buttonFull {
    width: 100%;
}
.buttonHalf {
    width:49%;
}

/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  border-bottom: 2px solid #3160B6;
}
.buttonBlue:hover { background: #357bd8; }

.buttonRed {
  background: #c62525;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  border-bottom: 2px solid #600b0b;
}
.buttonRed:hover { background: #911515; }

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */
@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

