<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Test Angular App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
    
    <script src="https://api.trello.com/1/client.js?key=ae7f3c6b7823b3434c09c2ba005eafc9" type="text/javascript"></script>
    
    <link href="app.css" type="text/css" rel="stylesheet" />
</head>
<body onload="fix_selects()">

    <div class="row">
        <div id="left-nav" class="col s12 m4" ng-controller="TrelloController">
            
            <div class="header-section">
                <h2>WhyTask</h2>
                <h4>Made By: Storm Anderson</h4>               
                <a href="#!email"><span class="email">stormea36@gmail.com</span></a>
                <ul>
                    <li><a href="#!">Board: {{boardSelect}}</a></li>
                    <li><div class="divider"></div></li>
                    <li><a href="#!">list: {{listSelect}}</a></li>
                </ul>
            </div>    
            <div class="trello-section">
                <div class="input-field col s12">
                    <select id="board-select" ng-model="boardSelect" ng-change="boardChange()">
                        <option selected></option>
                    </select>
                    <label>Select a Board</label>
                </div>
                <div class="input-field col s12">
                    <select id="list-select" ng-model="listSelect"
                            ng-change="listChange()">
                        <option selected></option>
                    </select>
                    <label ng-show="boardSelect">Select a List</label>
                </div>
                <hr/>
                <h5>Edit a card<small> <a href="#"> New Task</a></small></h5>
                
                <div class="card-box">
                    <div class="card" ng-repeat="card in cardsArr">
                        <div class="c-content">
                            <span class="c-title truncate" title="{{ card.name }}">{{ card.name }}</span>
                            <p>
                                {{ card.desc }}
                            </p>
                        </div>
                        <div class="card-action teal lighten-5">
                            <a href="#" class="teal-text darken-4-text"><i class="tiny material-icons">mode_edit</i> Edit </a>
                            <a href="#" class="teal-text darken-4-text">This is a link</a>
                        </div>
                    </div>
                </div>
                <!--<ul>
                    <li ng-repeat="card in cardsArr">
                        <div class="row">
                            <div class="col s10">
                                <p class="card-title">{{ card.name }}</p>
                                <p class="card-desc">{{ card.desc }} <span> <i class="tiny material-icons">comment</i></span></p>
                                
                            </div>
                            <div class="col s2"><span>{{ card.cmtCount }} <i class="small material-icons">mode_edit</i></span></div>
                        </div>
                        <p> - <br/></p>
                    </li>
                </ul>-->
            </div>

        </div> <!--sidebar-->

        <div class="col s12 m8" ng-controller="TaskController">

            <div class="row">
                <div class="col s12 m6 offset-m3">

                    <div class="mat-box" id="state-0" ng-show="states[0]">
                        <form>
                            <h3>Task Timer App</h3>  
                            <p class="subheader">testing angular with animate &amp; async data integration</p>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="task_title" type="text" class="validate" ng-model="task.title" />
                                        <label for="task_title">Task Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="task_desc" class="materialize-textarea" ng-model="task.description"></textarea>
                                        <label for="task_desc">Addition Details:</label>
                                    </div>
                                </div>
                                <button type="button" ng-click="start()" class="button buttonBlue buttonFull">
                                    Start
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
</form>
                    </div>

                    <div class="mat-box" id="state-1" ng-show="states[1]">
                        <form>
                            <h3>Task Timer Running</h3>

                            <p>{{task.title}}</p>
                            <p>Time worked: {{time[0]}} hrs {{time[1]}} mins {{time[2]}} secs</p>
                            <div class="row valign-wrapper">
                                <div class="input-field col s10">
                                    <!--<i class="material-icons prefix medium">mode_edit</i>-->
                                    <textarea id="task_comment" class="materialize-textarea" ng-model="comment"></textarea>
                                    <label for="task_comment">Comment</label>
                                </div>
                                <div class="col s2 valign">
                                    <a href="#" ng-click="commentAdd()"><i class="material-icons small click">done</i></a>
                                </div>
                            </div>
                            <ul id="comment-box">
                                <li class="row valign-wrapper comment-animate" ng-repeat="comment in task.comments">
                                    <div class="col s1">
                                        <a href="#" ng-click="task.comments.splice($index,1)">X</a>
                                    </div>
                                    <div class="col s3 smaller-text">
                                        <b>{{ comment.time }}</b>
                                        <br />
                                        <span>{{comment.current | date:'hh:mm a'}}</span>
                                    </div>
                                    <div class="col s8 valign">
                                        {{ comment.description }}
                                    </div>
                                </li>
                            </ul>
                            <div class="buttonGroup">
                                <button type="button" class="button buttonBlue buttonHalf" ng-click="taskBreak()">
                                    Break
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                                <button type="button" class="button buttonRed buttonHalf" ng-click="taskDone()">
                                    Done
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="mat-box" id="state-2" ng-show="states[2]">
                        <form>
                            <h3>Task Timer Paused</h3>
                            <p>{{task.title}}</p>
                            <p>Time worked: {{time[0]}} hrs {{time[1]}} mins {{time[2]}} secs</p>
                            <ul id="comment-box">
                                <li class="row valign-wrapper" ng-repeat="comment in task.comments" watch-scope="comment">
                                    <div class="col s1">
                                        <a href="#" ng-click="task.comments.splice($index,1)"><i class="material-icons small">delete</i></a>
                                    </div>
                                    <div class="col s4">
                                        <b>{{ comment.time }}</b>
                                        <br />
                                        <span>{{comment.current | date:'hh:mm a'}}</span>
                                    </div>
                                    <div class="col s7 valign">
                                        {{ comment.description }}
                                    </div>
                                </li>
                            </ul>
                            <div class="buttonGroup">
                                <button type="button" class="button buttonBlue buttonHalf" ng-click="start()">
                                    Resume
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                                <button type="button" class="button buttonRed buttonHalf" ng-click="taskDone()">
                                    Done
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="mat-box" id="state-3" ng-show="states[3]">
                        <form>
                            <h3>Task Completed</h3>
                            <p class="subheader">{{task.title}}</p>
                            <p>Time worked: {{time[0]}} hrs {{time[1]}} mins {{time[2]}} secs</p>
                            {{task}}
                            <div class="buttonGroup">
                                <button type="button" class="button buttonBlue buttonHalf" ng-click="start()">
                                    Start new task
                                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="app.js"></script>
    
</body>
</html>
