<!DOCTYPE html>
<html ng-app="taskApp">
<head>
    <title></title>
	<meta charset="utf-8" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
     
    <script src="https://api.trello.com/1/client.js?key=ae7f3c6b7823b3434c09c2ba005eafc9"></script>

    <link href="app.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-controller="TrelloController">
        <div class="row">
            <div class="col s12">
                <h2>Trello Task App <small class="timer-big">Created by: <a href="mailto:stormea36@gmail.com">Storm Anderson</a></small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <h4>Board Select</h4>
                <a class="btn" href="#/" ng-click="setBoards()" ng-hide="boards">set boards</a>

                <div class="row">
                    <div class="input-field col s12">
                        <select id="board-select" ng-model="boardSelect" ng-change="boardChange()" ng-options="board.name for board in boards track by board.id" ng-init="setBoards()">
                            <option selected></option>
                        </select>
                        <label for="board-select">Select a Board</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="list-select" ng-model="listSelect" ng-change="listChange()" ng-options="list.name for list in lists track by list.id">
                            <option selected></option>
                        </select>
                        <label for="list-select" ng-show="boardSelect">Select a List</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" ng-show="listSelect">
                        <h5>Cards:</h5>
                        <ul class="lists card-list">
                            <li ng-repeat="card in cards" class="card">
                                <div class="c-content">
                                    <span class="c-title truncate" title="{{ card.name }}">{{ card.name }}</span>
                                    <p>
                                        {{ card.desc }} - {{card.cmtCount}}<i class="tiny material-icons">comment</i>
                                    </p>
                                </div>
                                <div class="card-action teal lighten-5">
                                    <a href="#" ng-click="taskAction('set',card)" class="teal-text darken-4-text"><i class="tiny material-icons">mode_edit</i> Edit </a>
                                    <a href="#" class="teal-text darken-4-text">This is a link</a>
                                </div>
                            </li>
                        </ul>
                        <!--<div class="card-box">
                            <div class="card" ng-repeat="card in cardsArr">
                                <div class="card-content">
                                    <span class="card-title truncate" title="{{ card.name }}">{{ card.name }}</span>
                                    <p>
                                        {{ card.desc }}
                                    </p>
                                </div>
                                <div class="card-action teal lighten-5">
                                    <a href="#" class="teal-text darken-4-text"><i class="tiny material-icons">mode_edit</i> Edit </a>
                                    <a href="#" class="teal-text darken-4-text">This is a link</a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col s12 m8">

                <div class="card-box" ng-hide="state != ''">
                    <h4>Create a task</h4>
                    <p class="lead">You can create a new task here and begin filling in the title and description below. Once ready, click start to begin the timer.</p>
                    <div class="input-field col s12">
                    <input id="task_title" type="text" ng-model="task.title" />
                    <label for="task_title" class="tLabel">Task Title</label>
                    </div>
                    <div class="input-field col s12">
                    <textarea id="task_desc" class="materialize-textarea" ng-model="task.desc"></textarea>
                    <label for="task_desc" class="tLabel">Task Description</label>
                    </div>
                        <button type="button" ng-click="startTask()" class="button buttonBlue buttonFull">
                        Start
                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                    </button>
                </div>

                <div class="card-box" ng-hide="state == '' || state == 'hide'">
                <!--<div class="card-box">-->
                    <h5>{{task.title}}</h5>
                    <div class="row">
                        <div class="col s12 m3">
                            <p>
                                <b>Description:</b>
                            </p>
                        </div>
                        <div class="col s12 m9">
                            <p>
                                {{task.desc}}
                            </p>
                        </div>
                    </div>
                    <div class="row cyan lighten-4 add-padding">
                        <div class="col s12 m8">
                            <b>Time worked:</b><br>
                            <span class="timer-big">{{runTime[0]}} hrs {{runTime[1]}} mins</span><span class="timer-small"> {{runTime[2]}} secs</span>
                        </div>
                        <div class="col s12 m4">

                            <a class="btn-floating btn-large waves-effect waves-light deep-orange lighten-1" ng-click="taskAction('break')"><i class="material-icons large">pause</i></a>
                            <a class="btn-floating btn-large waves-effect waves-light " ng-click="taskAction('resume')"><i class="material-icons large">play_arrow</i></a>

                        </div>
                    </div>

                    <div class="row valign-wrapper">
                        <div class="input-field col s10">
                            <!--<i class="material-icons prefix medium">mode_edit</i>-->
                            <textarea id="task_comment" class="materialize-textarea" ng-model="task.comment.desc"></textarea>
                            <label for="task_comment">Comment</label>
                        </div>
                        <div class="col s2 valign">
                            <a href="#/" ng-click="addComment()"><i class="material-icons small">done</i></a>
                        </div>
                    </div>

                    <ul id="comment-box">
                        <li class="row valign-wrapper comment-animate" ng-repeat="comment in newTask.comments">
                            <div class="col s1">
                                <a href="#/" ng-click="newTask.comments.splice($index,1)">X</a>
                            </div>
                            <div class="col s3 smaller-text">
                                <b>{{ comment.time }}</b>
                                <br />
                                <span>{{comment.current | date:'hh:mm a'}}</span>
                            </div>
                            <div class="col s8 valign">
                                {{ comment.desc }}
                            </div>
                        </li>
                    </ul>

                    <div class="buttonGroup center-align">
                        <button type="button" class="button waves-effect waves-light light-blue darken-3" ng-click="taskAction('done')" ng-hide="state == 'done' || state == ''">
                            Complete Task <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82884396-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="app.js"></script>
    <script src="TrelloController.js"></script>
    <script src="TrelloRepository.js"></script>
    <script src="Boards.js"></script>
    <script src="lists.js"></script>
    <script src="Cards.js"></script>
    <script src="Tasks.js"></script>
</body>
</html>
